.wrap {
    display: flex;
    align-items: center;

    .item {
        display: flex;
        align-items: center;

        span {
            font-size: 43px;
            color: #ffffff;
        }

        img {
            height: 27px;
        }

        &:first-child {
            margin-right: 80px;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -45px;
                width: 3px;
                height: 100%;
                background-color: #fff;
            }
        }
    }    
}