.footer {
    background-color: #002D59;

    padding: 31px 0px 35px 90px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 24px;

    overflow: hidden;

    @media(max-width: 1300px) {
        padding: 31px 0px 35px 54px;
    }

    @media(max-width: 768px) {
        padding: 31px 0px 35px 20px;
    }

    .text {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        flex: 1;

        svg {
            width: 155px;
            height: 155px;

            path {
                fill: white;
            }

            @media(max-width: 1300px) {
                width: 106px;
                height: 106px;
            }

            @media(max-width: 768px) {
                width: 70px;
                height: 70px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: start;

            li {
                display: flex;
                align-items: start;
                margin-bottom: 17px;

                @media(max-width: 768px) {
                    margin-bottom: 10px;
                }

                img {
                    width: 21px;
                    height: 21px;

                    margin-right: 10px;
                }
                a {
                    font-size: 24px;
                    line-height: 26px;
                    color: #FFFFFF;
                    text-align: left;

                    @media(max-width: 1300px) {
                        font-size: 16px;
                        line-height: 18px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }

            .socials {
                display: flex;
                li {
                    margin-bottom: 0;
                    margin-right: 28px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                img {
                    height: 34px;
                    width: auto;
                    margin-right: 0;

                    @media(max-width: 1300px) {
                        height: 30px;
                    }
                    @media(max-width: 768px) {
                        height: 25px;
                    }
                }


                @media(max-width: 1300px) {

                }
                @media(max-width: 768px) {
                    // position: absolute;
                    // bottom: 30px;
                    // right: 0;
                    // align-self: flex-end;
                }
            }
        }
    }

    .line_between {
        width: 2px;
        height: 170px;
        background-color: #fff;

        margin-right: 30px;
        margin-left: 30px;

        @media(max-width: 1300px) {
            height: 120px;
            margin-right: 23px;
            margin-left: 23px;
        }

        @media(max-width: 768px) {
            height: 57px;
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    .decor {
        flex: 1;
        display: flex;
        justify-content: end;

        @media(max-width: 1300px) {
            height: 250px;
        }
        @media(max-width: 768px) {
            display: none;
        }

    }
}