.footer {
    background-color: #002D59;

    padding: 31px 0px 35px 90px; 
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 24px;

    overflow: hidden;

    .text {
        display: flex;
        align-items: center;
        // justify-content: space-between;

        flex: 1;

        ul {
            display: flex;
            flex-direction: column;
            align-items: start;

            li {
                display: flex;
                align-items: start;

                margin-bottom: 17px;
                img {
                    width: 21px;
                    height: 21px;

                    margin-right: 10px;
                }
                a {
                    font-size: 24px;
                    line-height: 26px;

                    color: #FFFFFF;

                    text-align: left;
                }
            }
            .socials {
                display: flex;
                li {
                    margin-bottom: 0;
                }
                a {
                    margin-right: 28px;
                }
                img {
                    height: 34px;
                    width: auto;
                    margin-right: 0;
                }
            }
        }
    }

    .line_between {
        width: 2px;
        height: 170px;
        background-color: #fff;

        margin-right: 30px;
        margin-left: 30px;
    }

    .decor {
        flex: 1;
        display: flex;
        justify-content: end;
        
    }
}