.modalWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw !important;
    height: 100% !important;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 45, 89, 1);
    padding: 26px 28px 39px 28px;
    border-radius: 26px;
    width: 450px;
    color: #fff;
    overflow: hidden;
    z-index: 2;

    @media(max-width: 768px) {
        background-color: #fff;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 17px;

        &:first-child {
            margin-top: 20px;
            label {
                position: relative;



                &::after {
                    content: '';
                    position: absolute;
                    left: calc(100% + 2px);
                    bottom: 4px;
                    display: block;
                    width: 500px;
                    height: 1px;
                    background-color: #fff;

                    @media(max-width: 768px) {
                        background-color: #D9D9D9;
                        height: 2px;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    right: calc(100% + 2px);
                    bottom: 4px;
                    display: block;
                    width: 500px;
                    height: 1px;
                    background-color: #fff;

                    @media(max-width: 768px) {
                        background-color: #D9D9D9;
                        height: 2px;
                    }
                }
            }
        }

        label {
            margin-bottom: 10px;
            margin-left: 30px;
            align-self: start;
            font-family: gotham;
            font-weight: 700;
            font-size: 20px;

            @media(max-width: 768px) {
                font-size: 16px;
                line-height: 19px;
                color: #002D59;
                font-weight: 600;
            }

        }

        input {
            padding: 10px 20px;
            border-radius: 20px;
            background-color: #fff;
            border: none;
            // outline: auto;

            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            @media(max-width: 768px) {
                box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
            }

            &::placeholder {
                font-family: gotham;

                @media(max-width: 768px) {
                    color:#002D59;
                }
            }
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        margin-left: 30px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0px;
        }

        label {
            cursor: pointer;
        }
        input {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
        }
        img {
            margin-right: 15px;
        }

        @media(max-width: 768px) {
            label {
                color: #002D59;
                font-weight: 600;
            }
        }

    }

    .buttonGroup {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .formButton {
            font-size: 20px !important;
            text-transform: none !important;

            &:last-child {
                background-color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    p.success {
        margin: 0 !important;
        padding: 0 !important;
        color: #FFFFFF !important;
        background-color: inherit !important;
        font-size: 16px !important;
        font-family: gotham !important;
        text-transform: none !important;
        text-align: center !important;
    }
}