.labelDecor {
    // width: 100%;
    // height: auto;
    object-fit: cover;
    display: block;

    // position: absolute;
    // left: 0;
    width: 100%;

    @media(max-width: 768px) {
        display: none;
    }
}

.wrap {
    display: flex;
    gap: 30px;

    color: #ffffff;
    position: relative;

    @media(max-width: 768px) {
        margin-top: 50px;
    }

    // max-height: 100vh;
    .chip {
        position: absolute;
        right: 50px;
        top: -70px;

        @media(max-width: 1300px) {
            width: 118px;
            height: 63px;
            right: 10px;
            top: -60px;
        }

        @media(max-width: 768px) {
            display: none;
        }
    }

    .legend {
        flex: 1.2;
        max-width: max-content;
        height: 100%;
        background-color: #002D59;

        h2 {
            font-family: gotham;
            font-weight: 700;
            font-size: 24px;
            width: 100%;
            padding: 16px 0 13px;
            text-align: center;
            text-transform: uppercase;

            border-bottom: 3px solid #ffffff;

            @media(max-width: 1300px) {
                font-size: 16px;
                line-height: 18px;
                padding: 12px 0 10px;
            }
            @media(max-width: 768px) {
                font-size: 14px;
                line-height: 16px;
                padding: 10px 0 8px;
            }
        }

        ul {
            // margin-left: 91px;
            // margin-top: 28px;
            // margin-right: 63px;
            // margin-bottom: 60px;

            margin: 28px 63px 60px 90px;

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            @media(max-width: 1300px) {
                margin: 27px 40px 30px 67px;
            }

            @media(max-width: 768px) {
                margin: 15px 15px 20px 15px;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: start;



                transition: 0.2s;

                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 20px;

                    @media(max-width: 1300px) {
                        margin-bottom: 14px;
                    }
                }

                img {
                    // width: 64px;
                    // height: 64px;
                    // object-fit: contain;
                    margin-right: 25px;
                    display: block;

                    @media(max-width: 1300px) {
                        width: 43px;
                        height: 43px;
                    }
                    @media(max-width: 1300px) {
                        width: 27px;
                        height: 27px;
                        margin-right: 15px;
                    }
                }

                span {
                    text-align: left;
                    font-family: gotham;
                    font-weight: 600;

                    font-size: 24px;
                    line-height: 26px;

                    @media(max-width: 1300px) {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    @media(max-width: 768px) {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                &.activeIcon {
                    transform: scale(1.1);
                }
            }
        }
    }

    .map {
        flex: 1.8;
        max-height: 100%;

        @media(max-width: 768px) {
            position: absolute;
            top: 0;
            z-index: -1;
        }

        div {
        position: relative;
        height: 100%;

            .map_container {
                margin-top: 57px;
                height: min-content;
                position: relative;

                @media(max-width: 768px)  {
                    margin-top: -40px;
                    height: 100% !important;
                    width: auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                // absolute positioned icons
                .map_garage {
                    position: absolute;
                    top: 15%;
                    left: 5%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_garage {
                    position: absolute;
                    top: 15%;
                    left: 5%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;


                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            border-top-left-radius: 10px;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_services {
                    position: absolute;
                    top: 19%;
                    left: 21%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_services {
                    position: absolute;
                    top: 19%;
                    left: 21%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    z-index: 2222;


                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;

                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_visit {
                    position: absolute;
                    top: 18%;
                    left: 32%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_visit {
                    position: absolute;
                    top: 18%;
                    left: 32%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;

                    z-index: 3;

                    .note {
                        position: absolute;
                        // top: 0px;
                        right: 0;

                        bottom: -90%;

                        z-index: 333;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(135deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: 16px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_kpp {
                    position: absolute;
                    top: 12%;
                    left: 40%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_kpp {
                    position: absolute;
                    top: 12%;
                    left: 40%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_anchor {
                    position: absolute;
                    top: 38%;
                    left: 46%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_anchor {
                    position: absolute;
                    top: 38%;
                    left: 46%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_club {
                    position: absolute;
                    top: 40%;
                    left: 5%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_club {
                    position: absolute;
                    top: 40%;
                    left: 5%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_slip {
                    position: absolute;
                    top: 45%;
                    left: 36%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_slip {
                    position: absolute;
                    top: 45%;
                    left: 36%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_seing {
                    position: absolute;
                    top: 67.6%;
                    left: 19.4%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_seing {
                    position: absolute;
                    top: 67.6%;
                    left: 19.4%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    .note {
                        position: absolute;
                        top: 0px;
                        right: 0;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;
                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .map_gas {
                    position: absolute;
                    top: 50%;
                    left: 91%;
                    height: auto;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .note {
                        display: none;
                    }
                }
                .active_map_gas {
                    position: absolute;
                    top: 50%;
                    left: 91%;
                    height: auto;
                    transition: 0.2s;
                    transform: scale(1.1);
                    cursor: pointer;
                    .note {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        .dot {
                            width: 5px;
                            height: 5px;

                            border-radius: 50%;
                            background-color: #fff;
                        }
                        .lineDegrees {
                            position: absolute;
                            right: 2px;
                            top: -18px;
                            width: 1px;
                            height: 20px;

                            background-color: #fff;

                            transform-origin: 50% bottom;
                            transform: rotate(-45deg);
                        }
                        .horizontalLine {
                            position: absolute;
                            top: -13px;
                            right: -111px;
                            height: 1px;
                            width: 100px;

                            background-color: #fff;

                            .text {
                                position: absolute;
                                top: -22px;
                                right: 0px;

                                background-color: rgba($color: #FFFFFF, $alpha: 0.75);

                                color: rgba(0, 45, 89, 1);
                                font-size: 19px;
                                line-height: 20px;
                                text-transform: uppercase;

                                width: max-content;
                                height: max-content;

                                padding: 12px 25px;
                                border-radius: 30px;

                                box-sizing: border-box;
                                text-align: left;

                                @media (max-width: 1420px) {
                                    padding: 8px 15px;
                                    font-size: 14px;
                                    line-height: 15px;
                                }
                            }
                        }

                    }
                }

                .mapImg {
                    height: calc(100% - 20%);
                    width: 100%;
                    height: auto;
                    // object-fit: cover;
                }
            }
            .greyWaves {
                position: absolute;
                left: -110px;
                bottom: 100px;

                @media(max-width: 1300px) {
                    width: 138px;
                    height: 135px;
                    left: -90px;
                    bottom: 90px;
                }
                @media(max-width: 768px) {
                    width: 67px;
                    height: 16px;
                    left: -60px;
                    bottom: 80px;
                }
            }

        }

    }
}


