.wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    padding: 100px 85px;

    @media (max-width: 1500px) {
        padding: 100px 0px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;

        position: relative;
        
        // border-right: 1px solid rgba(0, 45, 89, 1);

        &::after {
            content: '';
            display: block;
            
            height: 115px;
            width: 2px;
            background-color: rgba(0, 45, 89, 1);

            position: absolute;
            right: 0;
            top: 20%;
        }

        &:last-child {
            &::after {
                content: '';
                display: none;
                
                height: 115px;
                width: 2px;
                background-color: rgba(0, 45, 89, 1);
    
                position: absolute;
                right: -2px;
            }
        }

        img {
            width: 100px;
            height: 100px;

            margin-bottom: 22px;
        }

        span {
            display: flex;
            flex-direction: column;
            align-items: center;

            text-transform: uppercase;

            strong {
                margin-bottom: 10px;
            }
        }
    }
}