@font-face {
  font-family: "Gotham Pro";
  src: url("./assets/fonts/GothamPro/gothampro.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Bold";
  src: url("./assets/fonts/GothamPro/gothampro_bold.ttf");
  font-style: bold;
}

body {
  margin: 0;
  font-family: "Gotham Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

ul, h1, h2, h3, p, span {
  margin: 0;
  padding: 0;

  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-family: 'Gotham Pro Bold';
  color: #002D59;
}
